---
layout: default
---
<section class="project">
  <!-- <h4>Projects</h4> -->
  <ul>
    {% for post in site.categories.project %}
    <li>
      <h4>&#x2192; <a href="{{ post.url }}" title="{{ post.description }}">{{ post.title }}</a></h4>
    </li>
    {% endfor %}
  </ul>
</section>
<section class="blog">
  <!-- <h4>Blog</h4> -->
  <ul>
    {% for post in site.categories.blog %}
    <li>
      <h4><a href="{{ post.url }}" title="{{ post.date | date: "%b %-d, %Y" }}">{{ post.title }}</a></h4>
      <p class="subtitle">{{ post.subtitle }}</p>
    </li>
    {% endfor %}
  </ul>
</section>