---
layout: default
---
  <table>
    <tr id="blog" class="blog">
      <td>
        <h5>Blog</h5>
      </td>
      <td>
        <ul>
          {% for post in site.categories.blog %}
          <li>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <!-- <p>{{ post.date | date: "%b %-d, %Y" }}</p> -->
            {{ post.excerpt | truncatewords: 42 }}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>

    {% if site.categories.essay %}
    <tr id="essays" class="essay">
      <td>
        <h5>Essays</h5>
      </td>
      <td>
        <ul>
          {% for post in site.categories.essay %}
          <li>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.subtitle }}</p>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}

    {% if site.categories.story %}
    <tr id="stories" class="story">
      <td>
        <h5>Stories</h5>
      </td>
      <td>
        <ul>
          {% for post in site.categories.story %}
          <li>
            <h4><a href="//{{ post.link }}" title="Read at epitome.io">{{ post.title }}</a></h4>
            <p>by {{ post.author }}</p>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    
    <tr id="projects" class="project">
      <td>
        <h5>Projects</h5>
      </td>
      <td>
        <ul>
          {% for post in site.categories.project %}
          <li>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <!-- <p>{{ post.date | date: "%b %-d, %Y" }}</p> -->
            <p>{{ post.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>

    <tr id="contact" class="contact">
      <td>
        <h5>Contact</h5>
      </td>
      <td>
        <ul>
          <li>
            <h5><a href="mailto:{{ site.email }}" target="_blank">Send Me an Email</a></h5>
            <p>This is the best way to reach me</p>
          </li>
          <li>
            <h5><a href="//twitter.com/gnayrr">Follow me on Twitter &#64;gnayrr</a></h5>
            <p>I very rarely tweet</p>
          </li>
          <li>
            <h5><a href="mailto:{{ site.email }}?subject=Coffee" target="_blank">Let’s Meet for Coffee</a></h5>
            <p>If you're in the Seattle area, let’s meet in person</p>
          </li>
        </ul>
      </td>
    </tr>
  </table>
