<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{% if page.title %}{{ page.title }} - gnayrr{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author }}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "css/style.css" | prepend: site.baseurl }}">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
    <![endif]-->
  </head>
<body{% if page.mod %} class="{{ page.mod }}"{% endif %}>
  <header>
    <h3>
      <span><a href="/" tabindex="-1">{{ site.title }}</a></span>
    </h3>
  </header>
{{ content }}
  <footer>by {{ site.author }} • <a href="//{{ site.license_cc_url}}" target="_blank" title="{{ site.license_cc_name }}">{{ site.license_cc_short }}</a></footer>
</body>
</html>
